/* Your component-specific CSS file or search-user.component.css */

h1.special-font {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 10px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .user {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .user h3 {
    font-size: 18px;
  }
  
  .user p {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .user a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .user a:hover {
    text-decoration: underline;
  }
  